
.card-hover:hover {
    transform: translateY(-1px);
    cursor:pointer;
}

.red-shadow {
    box-shadow: 0 8px 20px rgba(224, 93, 106, 0.596);
}

.blue-shadow {
    box-shadow: 0 8px 20px rgba(90, 180, 202, 0.459);
}

.amount {
    font-size: 1.5rem;
    font-weight: 700;
    color: #212529;
}


