.sidebar {
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.3s;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .nav {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-item {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    height: 60px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease, width 0.3s ease; 
    width: 60px;
    overflow: hidden;
  }
  
  .nav-link-sm {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60px; 
    color: white;
    text-decoration: none;
    width: 100%;
    transition: background-color 0.3s ease; 
  }
  
  .nav-text-sm {
    margin-left: 10px;
    font-size: 25px;
    transition: opacity 0.3s ease; 
  }
  
  .nav-link-sm:hover {
    background-color: #acb3b0; 
    color: black;
  }
  
  .nav-link:hover {
    background-color: #b6bbb6e0;
    width: 240px; 
    border-radius: 0px 20px 20px 0px;
  }
  
  .nav-link i {
    font-size: 1.5rem; 
    margin-right: 10px; 
  }
  
  .nav-text {
    opacity: 0;
    margin-left: 10px;
    font-size: 25px;
    transition: opacity 0.3s ease; 
  }
  
  .nav-link:hover .nav-text {
    opacity: 1; 
  }
  
  .container-fluid .row {
    margin: 0;
  }
  
  .container-fluid .row .col-12 {
    padding: 0;
  }
  
  .my-btn {
    background-color: #aec2b0;
    border-radius: 20px;
  }
  
  .my-btn:hover {
    background-color: #bbcac3;
  }
  
  body {
    padding-left: 60px;
  }
  
  @media (max-width: 991.98px) {
    body {
      padding-left: 0;
    }
  
   
  
    .offcanvas-start .nav-link {
      color: white;
    }
  
    .offcanvas-start .nav-link:hover {
      background-color: #b5b8b649;
    }
  
    .nav-link {
      justify-content: center; 
      width: 100%; 
    }
  
    .nav-link:hover {
      background-color: #78c4a0; 
    }
  
    .nav-link i {
      font-size: 2rem; 
    }
  
    .nav-text {
      opacity: 1; 
      font-size: 1rem;
    }
  }
  
  /* Estilos para pantallas grandes */
  @media (min-width: 992px) {
    .nav-link:hover {
      background-color: #909192e0;
      color: rgb(0, 0, 0);
      width: 240px; 
      border-radius: 0px 20px 20px 0px;
    }
  
    .nav-link:hover .nav-text {
      opacity: 1; 
    }
  }
  
  /* ---------------------------------------------------- */