<div class="col-md-12">
    <div class="card mb-3" [ngClass]="{'red-shadow': overdue, 'shadow': !overdue}" [ngClass]="{'color-card': status}">
        <div class="card-body" (click)="selectExpense()">
        <div class="d-flex justify-content-between align-items-center">
          <div class="form-check">
            <label class="form-check-label" for="checkbox1">
              <span>Periodo: {{expense.period | date: "MM/yyyy"}}</span><br />
              <span [ngClass]="{'text-danger': overdue}">
                Vencimiento: {{expense.second_expiration_date | date:'dd/MM/yyyy'}}
              </span>
            </label>

          </div>
          <div class="text-end mx-3">
            <span>${{expense.first_expiration_amount}}</span>
            
            <button (click)="openPdf(expense.id)" class="btn" >
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file-text"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M9 9l1 0" /><path d="M9 13l6 0" /><path d="M9 17l6 0" /></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>