<form [formGroup]="reactiveForm">
    <ng-select [formControl]="selectControl" bindLabel="name" bindValue="value" [closeOnSelect]="!multiple"
        [multiple]="multiple" [items]="options" [placeholder]="'Seleccione...'" [ngClass]="onValidate('selectControl')"
        class="form-select p-0">
        @if(multiple){
        <ng-template ng-multi-label-tmp let-items="items">
            {{items.length === 1 ? items[0].name : items.length + ' seleccionados'}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <div class="d-flex align-items-center">
                <input class="form-check-input me-2" [id]="'opt-' + item.value" type="checkbox"
                    [checked]="item$.selected" />
                <label [for]="'opt-' + item.value" class="form-check-label mb-0" (click)="toggleSelection(item$)">
                    {{ item.name }}
                </label>
            </div>
        </ng-template>
        }
    </ng-select>
    <!-- Mensaje de error -->
    <div class="invalid-feedback">{{showError('selectControl')}}</div>
</form>